@tailwind base;
@tailwind components;
@tailwind utilities;


#cards-container::-webkit-scrollbar {
    width: 12px;
  }
  
  #cards-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color del thumb (barra deslizadora) */
    border-radius: 6px;
  }
  
  #cards-container::-webkit-scrollbar-track {
    background-color: transparent; /* Color de la pista del scrollbar */
  }